@font-face {
   font-family: "Javanese Text";
   src: url("fonts/Javanese Text.eot") format("embedded-opentype"), url("fonts/Javanese Text.ttf") format("truetype"), url("fonts/Javanese Text.woff") format("woff"), url("fonts/Javanese Text.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri.eot") format("embedded-opentype"), url("fonts/Calibri.ttf") format("truetype"), url("fonts/Calibri.woff") format("woff"), url("fonts/Calibri.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri Bold.eot") format("embedded-opentype"), url("fonts/Calibri Bold.ttf") format("truetype"), url("fonts/Calibri Bold.woff") format("woff"), url("fonts/Calibri Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri Italic.eot") format("embedded-opentype"), url("fonts/Calibri Italic.ttf") format("truetype"), url("fonts/Calibri Italic.woff") format("woff"), url("fonts/Calibri Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Calibri";
   src: url("fonts/Calibri Bold Italic.eot") format("embedded-opentype"), url("fonts/Calibri Bold Italic.ttf") format("truetype"), url("fonts/Calibri Bold Italic.woff") format("woff"), url("fonts/Calibri Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold.eot") format("embedded-opentype"), url("fonts/Montserrat Bold.ttf") format("truetype"), url("fonts/Montserrat Bold.woff") format("woff"), url("fonts/Montserrat Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Bold Italic.eot") format("embedded-opentype"), url("fonts/Montserrat Bold Italic.ttf") format("truetype"), url("fonts/Montserrat Bold Italic.woff") format("woff"), url("fonts/Montserrat Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Italic.eot") format("embedded-opentype"), url("fonts/Montserrat Italic.ttf") format("truetype"), url("fonts/Montserrat Italic.woff") format("woff"), url("fonts/Montserrat Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Regular.eot") format("embedded-opentype"), url("fonts/Montserrat Regular.ttf") format("truetype"), url("fonts/Montserrat Regular.woff") format("woff"), url("fonts/Montserrat Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}